
h1, h2, .h1, .h2 {
	font-family: Georgia, serif !important;
	color: #34495e !important;
}

h5, .h5 {
	text-transform: uppercase;
	font-weight: bold !important;
}

h6, .h6 {
	font-weight: bold !important;
}
