
.breadcrumb {
  overflow: hidden;
  background-color: transparent;
  padding-left: 0px;
  height: 50px;

  .active {
    color: $breadcrumb-active-color;
    background: $breadcrumb-active-bg;
    &:not(:last-child):after {
      border-left: 14px solid $breadcrumb-active-bg;
    }
  }

  // li.complete {
  //   &:after {
  //     display: inline-block;
  //     font-family: FontAwesome;
  // 		content:"\f00c";
  // 		color: $breadcrumb-color;
  // 		padding-left: 5px;
  //   }
  // }

  li {
    color: $breadcrumb-color;
    text-decoration: none;
    padding: 10px 10px 10px 30px;
    background: $breadcrumb-bg;
    border: $breadcrumb-border-size solid $breadcrumb-border-color;

    position: relative;
    display: block;
    float: left;

    &:not(:last-child):after {
      content: " ";
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 14px solid $breadcrumb-bg;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left: 100%;
      z-index: 2;
    }

    &:not(:last-child):before {
      content: " ";
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 22px solid transparent; //20
      border-bottom: 22px solid transparent; //20
      border-left: 16px solid $breadcrumb-border-color;
      position: absolute;
      top: 50%;
      margin-top: -22px; //20
      // margin-left: 1px;
      left: 100%;
      z-index: 1;
    }

    &:first-child {
      padding-left: 20px;
    }
  }

  a:hover {
    background: hsla(190, 99%, 20%, 1.0); //hsla(34, 85%, 25%, 1);

    &:after {
      border-left-color: hsla(190, 99%, 20%, 1.0) !important; //hsla(34, 85%, 25%, 1) !important;
    }
  }

}
