<div class="container">
  <div class="row">
    <div class="col-xs-4">
      {{#link-to "wizard" class="btn btn-primary"}}Create New Proposal{{/link-to}}
      {{popover-icon-tooltip "Yo! I'm a Header" "Some content here! More content right over here!" }}
    </div>
  </div>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Proposal ID</th>
        <th>Proposal Title</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each proposals as |proposal|}}
      <tr>
      <td>{{#link-to "proposal" proposal.tempPropId}}{{proposal.tempPropId}}{{/link-to}}</td>
      <td>{{proposal.proposalTitle}}</td>
      <td><a href="#" {{action "delete" proposal}}>Delete</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>
