
<div class="container">

<div class="row">
  <div class="col-xs-4">
    <h1>Create New Proposal</h1>
  </div>
</div>

<div class="row">

    {{#if selectFundingOp}}
      {{wizard/select-funding-op wizard=model.wizard fundingOps=model.fundingOps directorates=model.directorates next=(action 'toDivisionProgram')}}
    {{/if}}

    {{#if selectDivisionProgram}}
      {{wizard/select-division-program previous=(action 'toFundingOp') next=(action 'toTypeFunding')}}
    {{/if}}

    {{#if selectTypeFunding}}
      {{wizard/select-type-funding wizard=model.wizard previous=(action 'toDivisionProgram')}}
    {{/if}}

</div>

{{outlet}}

</div>
