<h1>Project Summary</h1>

{{screen-messages messages=messages}}

<!-- <textarea name="editor1" id="editor1" rows="10" cols="80"> -->
  <!-- This is my textarea to be replaced with CKEditor. -->
<!-- </textarea> -->

{{project-summary-form}}

{{!textarea value=name name="editor1" cols="80" rows="10"}}

{{outlet}}
