<ul class="nav nav-pills nav-stacked">
  <li>Core Proposal Sections</li>
  <li role="presentation"><a href="#">Organization</a></li>
  <li role="presentation"><a href="#">Personnel</a></li>
  <!-- <li role="presentation"><a href="#">Project Summary</a></li> -->
  <li role="presentation">{{#link-to "proposal.project-summary" tempPropId}}Project Summary{{/link-to}}</li>
  <!-- <li role="presentation"><a href="#">Project Description</a></li> -->
  <li role="presentation">{{#link-to "proposal.project-description" tempPropId}}Project Description{{/link-to}}</li>
  <li role="presentation"><a href="#">References Cited</a></li>
  <li role="presentation"><a href="#">Budget</a></li>
  <li role="presentation"><a href="#">Budget Justification</a></li>
  <li role="presentation"><a href="#">Facilities, Equipment & Other Resources</a></li>
  <li role="presentation">{{#link-to "proposal.data-management-plan" tempPropId}}Data Management Plan{{/link-to}}</li>
  <li role="presentation"><a href="#">Additional Proposal Info</a></li>

  <li>Supplementary Documents</li>
  <li role="presentation"><a href="#">Other Supplementary Documents</a></li>

  <li>Proprietary Documents</li>
  <li role="presentation"><a href="#">Collaboratos & Other Affiliations</a></li>
  <li role="presentation"><a href="#">Deviation Authorization</a></li>
  <li role="presentation"><a href="#">Suggested Reviewer List</a></li>
  <li role="presentation"><a href="#">Additional Proprietary Documents</a></li>

</ul>
