
<div class="col-xs-12">
  <h2>Select Divisions and Programs</h2>
</div>

<div class="col-xs-10 col-xs-offset-1">

  <!-- BODY -->

  <button class="btn btn-default" {{action 'previous'}}>Previous</button>

  <button class="btn btn-primary" {{action 'next'}}>Next</button>

</div>

{{yield}}
