<h1 align="center">DATA MANAGEMENT PLAN HANDLEBARS TEMPLATE</h1>

<dl>

  <dt>Upload Date</dt>
  <dd>{{model.uploadDate}}</dd>

  <dt>Pages</dt>
  <dd>{{model.pages}}</dd>

  <dt>Content</dt>
  <dd>{{model.content}}</dd>

  <p><a href="{{model.fileURL}}" target="_blank">View File</a></p>

</dl>
